
.container{
    display: flex;
    margin:0 0 0 2rem;
   
}

.titlediv{
    display: flex;
    justify-content: center;
    align-items: center;
    width:86px;
    height: 107px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid green;
    
}
.titlediv > p{
    color:black;
    text-align: center;
}

    .support_text_active{
    width: 235px;
    font-size: 0.85rem;
    padding:0 5%;
    margin-right: 1rem;
    border: 1px solid green;
    position: relative;
    right: 10px;
    z-index: -1;
    border-radius: 0 12px 12px 0;
    animation: 2s showSlowly;

    }
   
    .paraname_handle{
        width: 200px;
        border-radius: 12px;
        text-align: center;
        background: green;
        height: 107px;
        color: white;
        line-height: 102px;
        font-size: 1rem;
        font-weight: 600; 

    }
    .handleactive{
        margin: 0 10px;
    }